# Day-1

Q1.If name = ''' Hi How are you?

Starterd learning python.

It's really interesting.''' Then what is the output of following code

name[:]

name[-10:-5]

name[3:12]

name[12:3]

name[5,6]

name[-4:-12]

name[::2]

name[::-2]

In [ ]:
name = ''' Hi How are you?

Starterd learning python.

It's really intxting.'''

In [ ]:
name[:]

" Hi How are you?\n\nStarterd learning python.\n\nIt's really intxting."

In [ ]:
name[-10:-5]

' intx'

In [ ]:
name[3:12]

' How are '

In [ ]:
name[12:3]
# name[a:b] with a < b → normal slice

# name[a:b] with a > b → empty result

''

In [ ]:
name[5:6]
# name[5,6] ---throws type error

'o'

In [ ]:
name[-4:-12]

''

In [ ]:
name[::2]

' iHwaeyu\nSatr erigpto.\ntsral nxig'

In [ ]:
name[::-2]

".nttiyle 'I\nnhy nnaldert\n?o r o H"

Q2. L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]

L1[:]

L1[::3]

L1[::-2]

How to extract value “Happy” based on index and negative index

How to check type of data in list at 4th position

Extract values for 100, 300, 400

In [ ]:
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
L1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
L1[::3]

['a', 30, 300, 'major']

In [ ]:
L1[::-2]

['major', 400, 100, 30, 'b']

In [ ]:
L1.index('Happy')

8

In [ ]:
L1[L1.index('Happy')]

'Happy'

In [ ]:
L1[-2]

'Happy'

In [ ]:
type(L1[3])

int

In [ ]:
L1[5:8]

[100, 300, 400]

Q3. If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following

L2[4]

L2[1:5]

L2[7]

L2[7][2]

L7[7][2:]

L2[ : 3]

L2[3:]

In [ ]:
L2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, "Success"]

In [ ]:
L2[4]

['a', 'b', 'work hard']

In [ ]:
L2[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [ ]:
L2[7]

'Success'

In [ ]:
L2[7][2]

'c'

In [ ]:
L7[7][2:]
# this will throw NameError: name 'L7' is not defined

NameError: name 'L7' is not defined

In [ ]:
L2[7][2:]

'ccess'

In [ ]:
L2[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

Q4.From the above l2 value ‘b’ must be changed to ‘BEE’.

In [ ]:
L2[4][1] = 'BEE'

In [ ]:
L2

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

Q5.From l2 “BEE” has to discard.

In [ ]:
L2[4].remove('BEE')
L2

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

Q6.In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}

In [ ]:
L2

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

In [ ]:
Dict = {'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']}

In [ ]:
L2.append(Dict)

In [ ]:
L2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

Q7.From l2 extract insect information.

In [ ]:
L2[8]['insect']

['bee', 'moth']

Q8.Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2

In [ ]:
d1 = {'a':10, 'b':20, 'c' : 30}

In [ ]:
L2.insert(1,d1)

In [ ]:
L2

[1,
 {'a': 10, 'b': 20, 'c': 30},
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

Q9.Based on new l2 created here extract the value 10 from l2 dictionary.

In [ ]:
L2[1]['a']

10

Q10 . If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following

L2[4][2]

L2[5][:]

L2[2] [:]

L2[1:5]

L2[5]

L2[5][3:-1]

L2[-1]

L2[-4, -3]

L2[-4: -10]

L2[7][2]

L7[-7][[2:]

L2[ :- 3]

L2[-3:]

In [ ]:
L2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, "Success", (200,300, "Hundreds")]

In [ ]:
L2[4][2]

50

In [ ]:
L2[5][:]

'Python'

In [ ]:
L2[2] [:]

TypeError: 'int' object is not subscriptable

In [ ]:
L2[1:5]

[2, 3, 5, (90, 40, 50, 10)]

In [ ]:
L2[5]

'Python'

In [ ]:
L2[5][3:-1]

'ho'

In [ ]:
L2[-1]

(200, 300, 'Hundreds')

In [ ]:
L2[-4, -3]

TypeError: list indices must be integers or slices, not tuple

In [ ]:
L2[-4: -10]

[]

In [ ]:
L2[7][2]

'work hard'

In [ ]:
L2[ :- 3]

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]

In [ ]:
L2[-3:]

[200, 'Success', (200, 300, 'Hundreds')]

Q11. Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails

If marks are more than 80 output must be “You got distinction”

For marks more than 60 output must be “You got First class”

Marks more than 40 will display “You got second class”

Marks more than or equal to 35 “PASS” Otherwise Fail

Basic if-else version

In [ ]:
marks = int(input("Enter the marks: "))

if marks > 80:
    print("You got distinction")
elif marks > 60:
    print("You got First class")
elif marks > 40:
    print("You got second class")
elif marks >= 35:
    print("PASS")
else:
    print("Fail")

Enter the marks: 23
Fail

Function version

In [ ]:
import sys
def grade(marks):
    if marks > 80:
        output = "You got Distinction"
    elif marks > 60:
        output = "You got First Class"
    elif marks > 40:
        output = "You got Second Class"
    elif marks >= 35:
        output = "PASS"
    else:
        output = "Fail"

    return output


while True:
    try:
        marks = int(input("Enter the marks (0–100): "))

        if 0 <= marks <= 100:
            print(grade(marks))
            break
        else:
            print("Marks must be b etween 0 and 100.Please Try again!!!")

    except Exception as e:
        print("Invalid input. Please enter a valid integer!!!",sys.exc_info,e)

Enter the marks (0–100): 85
You got Distinction

OOPS version

In [ ]:
import sys

class Grade:

    def __init__(self, marks):
        self.marks = marks

    def calculate(self):
        if self.marks > 80:
            return "You got Distinction"
        elif self.marks > 60:
            return "You got First Class"
        elif self.marks > 40:
            return "You got Second Class"
        elif self.marks >= 35:
            return "PASS"
        else:
            return "Fail"


while True:
    try:
        marks = int(input("Enter the marks (0–100): "))

        if 0 <= marks <= 100:
            student = Grade(marks)
            print(student.calculate())
            break
        else:
            print("Marks must be between 0 and 100. Please try again!")

    except ValueError:
        print("Invalid input. Please enter a valid integer!!!")
    except Exception:
        print("Something went wrong:", sys.exc_info())

Enter the marks (0–100): 95
You got Distinction

SQL lite version

In [ ]:
import sqlite3

class Grade:

    def __init__(self, marks):
        self.marks = marks

    def calculate(self):
        if self.marks > 80:
            return "You got Distinction"
        elif self.marks > 60:
            return "You got First Class"
        elif self.marks > 40:
            return "You got Second Class"
        elif self.marks >= 35:
            return "PASS"
        else:
            return "Fail"


conn = sqlite3.connect("grades.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS student_grade (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    marks INTEGER,
    grade TEXT
)
""")

while True:
    try:
        marks = int(input("Enter the marks (0–100): "))

        if 0 <= marks <= 100:
            student = Grade(marks)
            result = student.calculate()

            cursor.execute(
                "INSERT INTO student_grade (marks, grade) VALUES (?, ?)",
                (marks, result)
            )
            conn.commit()

            print(result)
            print("Record saved successfully!")
            break
        else:
            print("Marks must be between 0 and 100. Please try again!")

    except ValueError:
        print("Invalid input. Please enter a valid integer!!!")

conn.close()

Enter the marks (0–100): 15
Fail
Record saved successfully!

Q12 . Ask user to enter information about salary of the employee per year and rating received as A, B, C, D

If salary upto 5 lpa then increament based on ratings are A = 16% , B=12%, C= 10%, D=6%

If salary upto 10 lpa then increament based on ratings are A = 14% , B=10%, C= 8%, D=6%

If salary upto 15 lpa then increament based on ratings are A = 8% , B=6%, C= 4%, D = no increment

If salary upto 23 lpa then increament based on ratings are A = 7% , B=5%, C= 4%, D=no

if-else version

In [ ]:
salary = float(input("Enter employee's annual salary (in LPA, e.g., 5 for 5 LPA): "))
rating = input("Enter employee's rating (A, B, C, D): ").upper()

increment_percentage = 0

salary_amount = salary * 100000

if salary <= 5:
    if rating == 'A':
        increment_percentage = 0.16
    elif rating == 'B':
        increment_percentage = 0.12
    elif rating == 'C':
        increment_percentage = 0.10
    elif rating == 'D':
        increment_percentage = 0.06
elif salary <= 10:
    if rating == 'A':
        increment_percentage = 0.14
    elif rating == 'B':
        increment_percentage = 0.10
    elif rating == 'C':
        increment_percentage = 0.08
    elif rating == 'D':
        increment_percentage = 0.06
elif salary <= 15:
    if rating == 'A':
        increment_percentage = 0.08
    elif rating == 'B':
        increment_percentage = 0.06
    elif rating == 'C':
        increment_percentage = 0.04
    elif rating == 'D':
        increment_percentage = 0.00
elif salary <= 23:
    if rating == 'A':
        increment_percentage = 0.07
    elif rating == 'B':
        increment_percentage = 0.05
    elif rating == 'C':
        increment_percentage = 0.04
    elif rating == 'D':
        increment_percentage = 0.00
else:
    print("Salary is above the defined increment ranges.")

if increment_percentage > 0:
    increment_amount = salary_amount * increment_percentage
    new_salary = salary_amount + increment_amount
    print(f"Original Salary: {salary_amount:.2f}")
    print(f"Rating: {rating}")
    print(f"Increment Percentage: {increment_percentage * 100:.0f}%")
    print(f"Increment Amount: {increment_amount:.2f}")
    print(f"New Salary: {new_salary:.2f}")
elif increment_percentage == 0 and rating in ['A', 'B', 'C', 'D']:
    print(f"Original Salary: {salary_amount:.2f}")
    print(f"Rating: {rating}")
    print("No increment applied.")
else:
    print("Invalid rating entered.")

Enter employee's annual salary (in LPA, e.g., 5 for 5 LPA): 5
Enter employee's rating (A, B, C, D): A
Original Salary: 500000.00
Rating: A
Increment Percentage: 16%
Increment Amount: 80000.00
New Salary: 580000.00

function version

In [ ]:
def increment_salary(salary, rating):

  increment_percentage = 0

  salary_amount = salary * 100000

  if salary <= 5:
      if rating == 'A':
          increment_percentage = 0.16
      elif rating == 'B':
          increment_percentage = 0.12
      elif rating == 'C':
          increment_percentage = 0.10
      elif rating == 'D':
          increment_percentage = 0.06
  elif salary <= 10:
      if rating == 'A':
          increment_percentage = 0.14
      elif rating == 'B':
          increment_percentage = 0.10
      elif rating == 'C':
          increment_percentage = 0.08
      elif rating == 'D':
          increment_percentage = 0.06
  elif salary <= 15:
      if rating == 'A':
          increment_percentage = 0.08
      elif rating == 'B':
          increment_percentage = 0.06
      elif rating == 'C':
          increment_percentage = 0.04
      elif rating == 'D':
          increment_percentage = 0.00
  elif salary <= 23:
      if rating == 'A':
          increment_percentage = 0.07
      elif rating == 'B':
          increment_percentage = 0.05
      elif rating == 'C':
          increment_percentage = 0.04
      elif rating == 'D':
          increment_percentage = 0.00
  else:
      print("Salary is above the defined increment ranges.")

  if increment_percentage > 0:
      increment_amount = salary_amount * increment_percentage
      new_salary = salary_amount + increment_amount
      print(f"Original Salary: {salary_amount:.2f}")
      print(f"Rating: {rating}")
      print(f"Increment Percentage: {increment_percentage * 100:.0f}%")
      print(f"Increment Amount: {increment_amount:.2f}")
      print(f"New Salary: {new_salary:.2f}")
  elif increment_percentage == 0 and rating in ['A', 'B', 'C', 'D']:
      print(f"Original Salary: {salary_amount:.2f}")
      print(f"Rating: {rating}")
      print("No increment applied.")
  else:
      print("Invalid rating entered.")


while True:
    try:
        salary = float(input("Enter employee's annual salary (in LPA): "))
        rating = input("Enter employee's rating (A, B, C, D): ").upper()

        if salary <= 0 or salary > 23:
            print("Invalid salary. Salary must be between 0 and 23 LPA.")
            continue

        if rating not in ['A', 'B', 'C', 'D']:
            print("Invalid rating. Rating must be A, B, C, or D.")
            continue

        increment_salary(salary, rating)
        break

    except ValueError:
        print("Invalid input. Please enter a numeric salary.")

Enter employee's annual salary (in LPA): 7
Enter employee's rating (A, B, C, D): A
Original Salary: 700000.00
Rating: A
Increment Percentage: 14%
Increment Amount: 98000.00
New Salary: 798000.00

OOPS version

In [ ]:
class SalaryIncrement:

    def __init__(self, salary, rating):
        self.salary = salary          # in LPA
        self.rating = rating.upper()
        self.salary_amount = salary * 100000
        self.increment_percentage = 0

    def calculate_increment(self):

        if self.salary <= 5:
            if self.rating == 'A':
                self.increment_percentage = 0.16
            elif self.rating == 'B':
                self.increment_percentage = 0.12
            elif self.rating == 'C':
                self.increment_percentage = 0.10
            elif self.rating == 'D':
                self.increment_percentage = 0.06

        elif self.salary <= 10:
            if self.rating == 'A':
                self.increment_percentage = 0.14
            elif self.rating == 'B':
                self.increment_percentage = 0.10
            elif self.rating == 'C':
                self.increment_percentage = 0.08
            elif self.rating == 'D':
                self.increment_percentage = 0.06

        elif self.salary <= 15:
            if self.rating == 'A':
                self.increment_percentage = 0.08
            elif self.rating == 'B':
                self.increment_percentage = 0.06
            elif self.rating == 'C':
                self.increment_percentage = 0.04
            elif self.rating == 'D':
                self.increment_percentage = 0.00

        elif self.salary <= 23:
            if self.rating == 'A':
                self.increment_percentage = 0.07
            elif self.rating == 'B':
                self.increment_percentage = 0.05
            elif self.rating == 'C':
                self.increment_percentage = 0.04
            elif self.rating == 'D':
                self.increment_percentage = 0.00

    def display(self):

        if self.increment_percentage > 0:
            increment_amount = self.salary_amount * self.increment_percentage
            new_salary = self.salary_amount + increment_amount

            print(f"Original Salary: {self.salary_amount:.2f}")
            print(f"Rating: {self.rating}")
            print(f"Increment Percentage: {self.increment_percentage * 100:.0f}%")
            print(f"Increment Amount: {increment_amount:.2f}")
            print(f"New Salary: {new_salary:.2f}")

        else:
            print(f"Original Salary: {self.salary_amount:.2f}")
            print(f"Rating: {self.rating}")
            print("No increment applied.")


while True:
    try:
        salary = float(input("Enter employee's annual salary (in LPA): "))
        rating = input("Enter employee's rating (A, B, C, D): ")

        if salary <= 0 or salary > 23:
            print("Invalid salary. Salary must be between 0 and 23 LPA.")
            continue

        if rating.upper() not in ['A', 'B', 'C', 'D']:
            print("Invalid rating. Rating must be A, B, C, or D.")
            continue

        emp = SalaryIncrement(salary, rating)
        emp.calculate_increment()
        emp.display()
        break

    except ValueError:
        print("Invalid input. Please enter a numeric salary.")

Enter employee's annual salary (in LPA): 9
Enter employee's rating (A, B, C, D): D
Original Salary: 900000.00
Rating: D
Increment Percentage: 6%
Increment Amount: 54000.00
New Salary: 954000.00

SQL version

In [ ]:
import sqlite3

class SalaryIncrement:

    def __init__(self, salary, rating):
        self.salary = salary
        self.rating = rating.upper()
        self.salary_amount = salary * 100000
        self.increment_percentage = 0
        self.new_salary = 0

    def calculate_increment(self):

        if self.salary <= 5:
            rates = {'A':0.16, 'B':0.12, 'C':0.10, 'D':0.06}
        elif self.salary <= 10:
            rates = {'A':0.14, 'B':0.10, 'C':0.08, 'D':0.06}
        elif self.salary <= 15:
            rates = {'A':0.08, 'B':0.06, 'C':0.04, 'D':0.00}
        elif self.salary <= 23:
            rates = {'A':0.07, 'B':0.05, 'C':0.04, 'D':0.00}
        else:
            rates = {}

        self.increment_percentage = rates.get(self.rating, 0)
        increment_amount = self.salary_amount * self.increment_percentage
        self.new_salary = self.salary_amount + increment_amount

    def save_to_db(self, cursor):
        cursor.execute("""
        INSERT INTO employee_salary
        (salary_lpa, rating, increment_percent, new_salary)
        VALUES (?, ?, ?, ?)
        """, (self.salary, self.rating,
              self.increment_percentage * 100,
              self.new_salary))

    def display(self):
        print(f"Original Salary: {self.salary_amount:.2f}")
        print(f"Rating: {self.rating}")
        print(f"Increment %: {self.increment_percentage * 100:.0f}%")
        print(f"New Salary: {self.new_salary:.2f}")



conn = sqlite3.connect("salary.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS employee_salary (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    salary_lpa REAL,
    rating TEXT,
    increment_percent REAL,
    new_salary REAL
)
""")

while True:
    print("\n1. Add Employee")
    print("2. Display Records")
    print("3. Exit")

    choice = input("Enter choice: ")

    if choice == "1":
        try:
            salary = float(input("Enter salary (LPA): "))
            rating = input("Enter rating (A/B/C/D): ").upper()

            if salary <= 0 or salary > 23:
                print("Salary must be between 0 and 23 LPA.")
                continue

            if rating not in ['A','B','C','D']:
                print("Invalid rating.")
                continue

            emp = SalaryIncrement(salary, rating)
            emp.calculate_increment()
            emp.save_to_db(cursor)
            conn.commit()

            emp.display()
            print("Record saved successfully!")

        except ValueError:
            print("Enter numeric salary only.")

    elif choice == "2":
        cursor.execute("SELECT * FROM employee_salary")
        records = cursor.fetchall()

        if records:
            print("\n--- Employee Records ---")
            for row in records:
                print(f"ID:{row[0]} | Salary(LPA):{row[1]} | "
                      f"Rating:{row[2]} | Increment%:{row[3]} | "
                      f"New Salary:{row[4]:.2f}")
        else:
            print("No records found.")

    elif choice == "3":
        break

    else:
        print("Invalid choice.")

conn.close()

1. Add Employee
2. Display Records
3. Exit
Enter choice: 1
Enter salary (LPA): 7
Enter rating (A/B/C/D): C
Original Salary: 700000.00
Rating: C
Increment %: 8%
New Salary: 756000.00
Record saved successfully!

1. Add Employee
2. Display Records
3. Exit
Enter choice: 2

--- Employee Records ---
ID:1 | Salary(LPA):7.0 | Rating:C | Increment%:8.0 | New Salary:756000.00

1. Add Employee
2. Display Records
3. Exit
Enter choice: 1
Enter salary (LPA): 3
Enter rating (A/B/C/D): A
Original Salary: 300000.00
Rating: A
Increment %: 16%
New Salary: 348000.00
Record saved successfully!

1. Add Employee
2. Display Records
3. Exit
Enter choice: 2

--- Employee Records ---
ID:1 | Salary(LPA):7.0 | Rating:C | Increment%:8.0 | New Salary:756000.00
ID:2 | Salary(LPA):3.0 | Rating:A | Increment%:16.0 | New Salary:348000.00

1. Add Employee
2. Display Records
3. Exit
Enter choice: 3

Q13 . Ask user to opt for courses for master degree based on the following

L1 = [“HR”, “Finance”, “Marketing”, “DS”]

Based on above subject there are two different streams. For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics. Analytics is the optional subject and having added extra fees. DS is not having analytics.

If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.

If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .

Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.

User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

if-else version

In [ ]:
L1 = ["HR", "Finance", "Marketing", "DS"]

BASE_FEE = 200000
ANALYTICS_EXTRA = 0.10
HOSTEL_FEE = 200000
FOOD_PER_MONTH = 2000
TRANSPORT_PER_SEM = 13000


subject = input("Enter subject (HR/Finance/Marketing/DS): ").strip()
analytics = input("Analytics? (Y/N): ").strip().upper()
hostel = input("Hostel? (Y/N): ").strip().upper()
food_months = int(input("Food for how many months?: "))
transport = input("Transportation (semester/annual): ").strip().lower()


if subject not in L1:
    print("Invalid subject selected!")
    exit()


total_fee = BASE_FEE


if analytics == "Y" and subject != "DS":
    total_fee += BASE_FEE * ANALYTICS_EXTRA


if hostel == "Y":
    total_fee += HOSTEL_FEE

total_fee += food_months * FOOD_PER_MONTH

if transport == "semester":
    total_fee += TRANSPORT_PER_SEM * 2
elif transport == "annual":
    total_fee += TRANSPORT_PER_SEM * 2
else:
    print("Invalid transportation option!")
    exit()

print("\n----- Fee Breakdown -----")
print(f"Subject: {subject}")
print(f"Total Annual Cost: ₹{int(total_fee)}")

Enter subject (HR/Finance/Marketing/DS): HR
Analytics? (Y/N): Y
Hostel? (Y/N): Y
Food for how many months?: 2
Transportation (semester/annual): semester

----- Fee Breakdown -----
Subject: HR
Total Annual Cost: ₹450000

Function version

In [ ]:
L1 = ["HR", "Finance", "Marketing", "DS"]

BASE_FEE = 200000
ANALYTICS_EXTRA = 0.10
HOSTEL_FEE = 200000
FOOD_PER_MONTH = 2000
TRANSPORT_PER_SEM = 13000

def calculate_total_fee():

    while True:
        subject = input("Enter subject (HR/Finance/Marketing/DS): ").strip()
        if subject in L1:
            break
        print("Invalid subject. Please choose from HR, Finance, Marketing, DS.")

    while True:
        analytics = input("Analytics? (Y/N): ").strip().upper()
        if analytics in ["Y", "N"]:
            break
        print("Enter Y or N only.")

    while True:
        hostel = input("Hostel? (Y/N): ").strip().upper()
        if hostel in ["Y", "N"]:
            break
        print("Enter Y or N only.")

    while True:
        try:
            food_months = int(input("Food for how many months?: "))
            if food_months >= 0:
                break
            print("Months cannot be negative.")
        except ValueError:
            print("Please enter a valid number.")

    while True:
        transport = input("Transportation (semester/annual): ").strip().lower()
        if transport in ["semester", "annual"]:
            break
        print("Enter 'semester' or 'annual' only.")

    total_fee = BASE_FEE

    if analytics == "Y" and subject != "DS":
        total_fee += BASE_FEE * ANALYTICS_EXTRA

    if hostel == "Y":
        total_fee += HOSTEL_FEE

    total_fee += food_months * FOOD_PER_MONTH

    total_fee += TRANSPORT_PER_SEM * 2

    print("\n----- Fee Breakdown -----")
    print(f"Subject: {subject}")
    print(f"Total Annual Cost: ₹{int(total_fee)}")


calculate_total_fee()

OOPs version

In [ ]:
class FeeCalculator:

    L1 = ["HR", "Finance", "Marketing", "DS"]

    BASE_FEE = 200000
    ANALYTICS_EXTRA = 0.10
    HOSTEL_FEE = 200000
    FOOD_PER_MONTH = 2000
    TRANSPORT_PER_SEM = 13000

    def __init__(self, subject, analytics, hostel, food_months, transport):
        self.subject = subject
        self.analytics = analytics
        self.hostel = hostel
        self.food_months = food_months
        self.transport = transport
        self.total_fee = 0

    def calculate_fee(self):

        self.total_fee = self.BASE_FEE

        if self.analytics == "Y" and self.subject != "DS":
            self.total_fee += self.BASE_FEE * self.ANALYTICS_EXTRA

        if self.hostel == "Y":
            self.total_fee += self.HOSTEL_FEE

        self.total_fee += self.food_months * self.FOOD_PER_MONTH

        if self.transport in ["semester", "annual"]:
            self.total_fee += self.TRANSPORT_PER_SEM * 2

    def display(self):
        print("\n----- Fee Breakdown -----")
        print(f"Subject: {self.subject}")
        print(f"Total Annual Cost: ₹{int(self.total_fee)}")



while True:
    subject = input("Enter subject (HR/Finance/Marketing/DS): ").strip()
    if subject in FeeCalculator.L1:
        break
    print("Invalid subject.")

while True:
    analytics = input("Analytics? (Y/N): ").strip().upper()
    if analytics in ["Y", "N"]:
        break
    print("Enter Y or N only.")

while True:
    hostel = input("Hostel? (Y/N): ").strip().upper()
    if hostel in ["Y", "N"]:
        break
    print("Enter Y or N only.")

while True:
    try:
        food_months = int(input("Food for how many months?: "))
        if food_months >= 0:
            break
        print("Months cannot be negative.")
    except ValueError:
        print("Enter valid number.")

while True:
    transport = input("Transportation (semester/annual): ").strip().lower()
    if transport in ["semester", "annual"]:
        break
    print("Enter 'semester' or 'annual' only.")


student = FeeCalculator(subject, analytics, hostel, food_months, transport)
student.calculate_fee()
student.display()

Enter subject (HR/Finance/Marketing/DS): Finance
Analytics? (Y/N): Y
Hostel? (Y/N): Y
Food for how many months?: 6
Transportation (semester/annual): annual

----- Fee Breakdown -----
Subject: Finance
Total Annual Cost: ₹458000

SQL version

In [ ]:
import sqlite3

class FeeCalculator:

    L1 = ["HR", "Finance", "Marketing", "DS"]

    BASE_FEE = 200000
    ANALYTICS_EXTRA = 0.10
    HOSTEL_FEE = 200000
    FOOD_PER_MONTH = 2000
    TRANSPORT_PER_SEM = 13000

    def __init__(self, subject, analytics, hostel, food_months, transport):
        self.subject = subject
        self.analytics = analytics
        self.hostel = hostel
        self.food_months = food_months
        self.transport = transport
        self.total_fee = 0

    def calculate_fee(self):

        self.total_fee = self.BASE_FEE

        if self.analytics == "Y" and self.subject != "DS":
            self.total_fee += self.BASE_FEE * self.ANALYTICS_EXTRA

        if self.hostel == "Y":
            self.total_fee += self.HOSTEL_FEE

        self.total_fee += self.food_months * self.FOOD_PER_MONTH

        self.total_fee += self.TRANSPORT_PER_SEM * 2

    def save_to_db(self, cursor):
        cursor.execute("""
        INSERT INTO student_fee
        (subject, analytics, hostel, food_months, transport, total_fee)
        VALUES (?, ?, ?, ?, ?, ?)
        """, (self.subject, self.analytics, self.hostel,
              self.food_months, self.transport, self.total_fee))

    def display(self):
        print("\n----- Fee Breakdown -----")
        print(f"Subject: {self.subject}")
        print(f"Total Annual Cost: ₹{int(self.total_fee)}")



conn = sqlite3.connect("fees.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS student_fee (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    subject TEXT,
    analytics TEXT,
    hostel TEXT,
    food_months INTEGER,
    transport TEXT,
    total_fee REAL
)
""")

while True:
    print("\n1. Add Student Fee")
    print("2. Display Records")
    print("3. Exit")

    choice = input("Enter choice: ")

    if choice == "1":

        while True:
            subject = input("Enter subject (HR/Finance/Marketing/DS): ").strip()
            if subject in FeeCalculator.L1:
                break
            print("Invalid subject.")

        analytics = input("Analytics? (Y/N): ").strip().upper()
        hostel = input("Hostel? (Y/N): ").strip().upper()
        food_months = int(input("Food months: "))
        transport = input("Transportation (semester/annual): ").strip().lower()

        student = FeeCalculator(subject, analytics, hostel, food_months, transport)
        student.calculate_fee()
        student.save_to_db(cursor)
        conn.commit()

        student.display()
        print("Record saved successfully!")

    elif choice == "2":
        cursor.execute("SELECT * FROM student_fee")
        records = cursor.fetchall()

        if records:
            print("\n--- Student Fee Records ---")
            for row in records:
                print(f"ID:{row[0]} | Subject:{row[1]} | "
                      f"Total Fee: ₹{int(row[6])}")
        else:
            print("No records found.")

    elif choice == "3":
        break

    else:
        print("Invalid choice.")

conn.close()

1. Add Student Fee
2. Display Records
3. Exit
Enter choice: 1
Enter subject (HR/Finance/Marketing/DS): HR
Analytics? (Y/N): Y
Hostel? (Y/N): Y
Food months: 5
Transportation (semester/annual): semester

----- Fee Breakdown -----
Subject: HR
Total Annual Cost: ₹456000
Record saved successfully!

1. Add Student Fee
2. Display Records
3. Exit
Enter choice: 1
Enter subject (HR/Finance/Marketing/DS): DS
Analytics? (Y/N): Y
Hostel? (Y/N): Y
Food months: 7
Transportation (semester/annual): annual

----- Fee Breakdown -----
Subject: DS
Total Annual Cost: ₹440000
Record saved successfully!

1. Add Student Fee
2. Display Records
3. Exit
Enter choice: 2

--- Student Fee Records ---
ID:1 | Subject:HR | Total Fee: ₹456000
ID:2 | Subject:DS | Total Fee: ₹440000

1. Add Student Fee
2. Display Records
3. Exit
Enter choice: 3

Q14 . Digitalize the book allotment process for school. Charges are mentioned here in the given table:

Normal dict version

In [ ]:

books_charges = {
    "Hindi": {"1-4": 60, "5-8": 100, "9-10": 150},
    "Marathi": {"1-4": 60, "5-8": 100, "9-10": 150},
    "English": {"1-4": 80, "5-8": 100, "9-10": 150},
    "Science": {"1-4": 90, "5-8": 120, "9-10": 200},
    "Maths": {"1-4": 100, "5-8": 140, "9-10": 250},
    "Social Science": {"1-4": 80, "5-8": 100, "9-10": 150}
}

notebook_charges = {
    "square": {"100": 40, "200": 70},
    "4lines": {"100": 30, "200": 50},
    "2lines": {"100": 30, "200": 50},
    "single lines": {"100": 60, "200": 100},
    "a4 notebook": {"100": 100, "200": 180}
}


standard = int(input("Enter standard (1-10): "))

if 1 <= standard <= 4:
    std_group = "1-4"
elif 5 <= standard <= 8:
    std_group = "5-8"
elif 9 <= standard <= 10:
    std_group = "9-10"
else:
    print("Invalid standard")
    exit()

subjects = input(
    "Enter subjects (comma separated): "
).split(",")

notebook_type = input(
    "Enter notebook type (square / 4lines / 2lines / single lines / a4 notebook): "
).lower()

pages = input("Enter pages (100 / 200): ")

# ------------------ PROCESS ------------------

total_amount = 0

print("\n========== BOOK ALLOTMENT BILL ==========")
print(f"Standard : {standard}")
print("\nBooks:")

for subject in subjects:
    subject = subject.strip().title()
    if subject in books_charges:
        price = books_charges[subject][std_group]
        total_amount += price
        print(f"{subject:<10} : ₹{price}")
    else:
        print(f"{subject:<10} : Not Available")

print("\nNotebook:")

if notebook_type in notebook_charges and pages in notebook_charges[notebook_type]:
    nb_price = notebook_charges[notebook_type][pages]
    total_amount += nb_price
    print(f"{notebook_type.title()} ({pages} pages) : ₹{nb_price}")
else:
    print("Invalid notebook selection")

print("-----------------------------------------")
print(f"TOTAL AMOUNT : ₹{total_amount}")
print("-----------------------------------------")

Enter standard (1-10): 4
Enter subjects (comma separated): Marathi,Hindi,English
Enter notebook type (square / 4lines / 2lines / single lines / a4 notebook): a4 notebook
Enter pages (100 / 200): 100

========== BOOK ALLOTMENT BILL ==========
Standard : 4

Books:
Marathi    : ₹60
Hindi      : ₹60
English    : ₹80

Notebook:
A4 Notebook (100 pages) : ₹100
-----------------------------------------
TOTAL AMOUNT : ₹300
-----------------------------------------

Function version

In [ ]:

books_charges = {
    "Hindi": {"1-4": 60, "5-8": 100, "9-10": 150},
    "Marathi": {"1-4": 60, "5-8": 100, "9-10": 150},
    "English": {"1-4": 80, "5-8": 100, "9-10": 150},
    "Science": {"1-4": 90, "5-8": 120, "9-10": 200},
    "Maths": {"1-4": 100, "5-8": 140, "9-10": 250},
    "Social Science": {"1-4": 80, "5-8": 100, "9-10": 150}
}

notebook_charges = {
    "square": {"100": 40, "200": 70},
    "4lines": {"100": 30, "200": 50},
    "2lines": {"100": 30, "200": 50},
    "single lines": {"100": 60, "200": 100},
    "a4 notebook": {"100": 100, "200": 180}
}



def generate_bill():

    standard = int(input("Enter standard (1-10): "))

    if 1 <= standard <= 4:
        std_group = "1-4"
    elif 5 <= standard <= 8:
        std_group = "5-8"
    elif 9 <= standard <= 10:
        std_group = "9-10"
    else:
        print("Invalid standard")
        return

    subjects = input("Enter subjects (comma separated): ").split(",")

    notebook_type = input(
        "Enter notebook type (square / 4lines / 2lines / single lines / a4 notebook): "
    ).lower()

    pages = input("Enter pages (100 / 200): ")

    total_amount = 0

    print("\n========== BOOK ALLOTMENT BILL ==========")
    print(f"Standard : {standard}")
    print("\nBooks:")

    for subject in subjects:
        subject = subject.strip().title()
        if subject in books_charges:
            price = books_charges[subject][std_group]
            total_amount += price
            print(f"{subject:<15} : ₹{price}")
        else:
            print(f"{subject:<15} : Not Available")

    print("\nNotebook:")

    if notebook_type in notebook_charges and pages in notebook_charges[notebook_type]:
        nb_price = notebook_charges[notebook_type][pages]
        total_amount += nb_price
        print(f"{notebook_type.title()} ({pages} pages) : ₹{nb_price}")
    else:
        print("Invalid notebook selection")

    print("-----------------------------------------")
    print(f"TOTAL AMOUNT : ₹{total_amount}")
    print("-----------------------------------------")


# ------------------ CALL FUNCTION ------------------

generate_bill()

Enter standard (1-10): 7
Enter subjects (comma separated): Hindi , Marathi , English
Enter notebook type (square / 4lines / 2lines / single lines / a4 notebook): a4 notebook
Enter pages (100 / 200): 200

========== BOOK ALLOTMENT BILL ==========
Standard : 7

Books:
Hindi           : ₹100
Marathi         : ₹100
English         : ₹100

Notebook:
A4 Notebook (200 pages) : ₹180
-----------------------------------------
TOTAL AMOUNT : ₹480
-----------------------------------------

# Day-2

Type Casting

Q17. Create a=100

Convert a to string

Convert a to list

Convert a to tuple

Convert a to dict

Convert a to set

Convert to float

In [ ]:
a = 100

In [ ]:
print(f"Original 'a': {a} (Type: {type(a)})")

a_str = str(a)
print(f"'a' as string: {a_str} (Type: {type(a_str)})")

a_list = [a]
print(f"'a' as list: {a_list} (Type: {type(a_list)})")

a_tuple = (a,)
print(f"'a' as tuple: {a_tuple} (Type: {type(a_tuple)})")

a_dict = {'value': a}
print(f"'a' as dictionary: {a_dict} (Type: {type(a_dict)})")

a_set = {a}
print(f"'a' as set: {a_set} (Type: {type(a_set)})")

a_float = float(a)
print(f"'a' as float: {a_float} (Type: {type(a_float)})")

Original 'a': 100 (Type: <class 'int'>)
'a' as string: 100 (Type: <class 'str'>)
'a' as list: [100] (Type: <class 'list'>)
'a' as tuple: (100,) (Type: <class 'tuple'>)
'a' as dictionary: {'value': 100} (Type: <class 'dict'>)
'a' as set: {100} (Type: <class 'set'>)
'a' as float: 100.0 (Type: <class 'float'>)

Q18. Create city = “Pune”

Convert to int

Convert float

Convert list

Convert tuple

Convert dict

Convert set

In [ ]:
city = "pune"

In [ ]:
print(f"Original 'city': {city} (Type: {type(city)})")


try:
    city_int = int(city)
    print(f"'city' as integer: {city_int} (Type: {type(city_int)})")
except ValueError:
    print(f"Cannot convert '{city}' to integer directly as it's not a numeric string.")


try:
    city_float = float(city)
    print(f"'city' as float: {city_float} (Type: {type(city_float)})")
except ValueError:
    print(f"Cannot convert '{city}' to float directly as it's not a numeric string.")


city_list = list(city)
print(f"'city' as list: {city_list} (Type: {type(city_list)})")


city_tuple = tuple(city)
print(f"'city' as tuple: {city_tuple} (Type: {type(city_tuple)})")

city_dict = {'city_name': city}
print(f"'city' as dictionary: {city_dict} (Type: {type(city_dict)})")

city_set = set(city)
print(f"'city' as set: {city_set} (Type: {type(city_set)})")

Original 'city': pune (Type: <class 'str'>)
Cannot convert 'pune' to integer directly as it's not a numeric string.
Cannot convert 'pune' to float directly as it's not a numeric string.
'city' as list: ['p', 'u', 'n', 'e'] (Type: <class 'list'>)
'city' as tuple: ('p', 'u', 'n', 'e') (Type: <class 'tuple'>)
'city' as dictionary: {'city_name': 'pune'} (Type: <class 'dict'>)
'city' as set: {'p', 'e', 'n', 'u'} (Type: <class 'set'>)

Q19. Create a list as marks = [20,18,15,17,18]

Convert to int

Convert float

Convert list

Convert tuple

Convert dict

Convert set

In [ ]:
marks = [20, 18, 15, 17, 18]
print(f"Original 'marks': {marks} (Type: {type(marks)})")


try:
    marks_int = int(marks)
    print(f"'marks' as integer: {marks_int} (Type: {type(marks_int)})")
except TypeError:
    print(f"Cannot convert a list '{marks}' to integer directly.")


try:
    marks_float = float(marks)
    print(f"'marks' as float: {marks_float} (Type: {type(marks_float)})")
except TypeError:
    print(f"Cannot convert a list '{marks}' to float directly.")


marks_list = list(marks)
print(f"'marks' as list: {marks_list} (Type: {type(marks_list)})")


marks_tuple = tuple(marks)
print(f"'marks' as tuple: {marks_tuple} (Type: {type(marks_tuple)})")


marks_dict = {'marks_list': marks}
print(f"'marks' as dictionary: {marks_dict} (Type: {type(marks_dict)})")


marks_set = set(marks)
print(f"'marks' as set: {marks_set} (Type: {type(marks_set)})")

Original 'marks': [20, 18, 15, 17, 18] (Type: <class 'list'>)
Cannot convert a list '[20, 18, 15, 17, 18]' to integer directly.
Cannot convert a list '[20, 18, 15, 17, 18]' to float directly.
'marks' as list: [20, 18, 15, 17, 18] (Type: <class 'list'>)
'marks' as tuple: (20, 18, 15, 17, 18) (Type: <class 'tuple'>)
'marks' as dictionary: {'marks_list': [20, 18, 15, 17, 18]} (Type: <class 'dict'>)
'marks' as set: {17, 18, 20, 15} (Type: <class 'set'>)

Q20. Create the empty list snames

 Add value 20 in the list using append

 Add value 30 in the list using extend

Add values in the list using append

Add value “WORK" in the list using extend

 Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3]

Add sname to combo using addition operator

Add combo to snames using append

Add combo to snames using extend.

In [ ]:
snames = []
print(f"1. Initial snames: {snames}")

snames.append(20)
print(f"2. snames after appending 20: {snames}")

snames.extend([30])
print(f"3. snames after extending with [30]: {snames}")

snames.append(40)
print(f"4. snames after appending 40: {snames}")

snames.extend(["WORK"])
print(f"5. snames after extending with [\"WORK\"]: {snames}")

combo = [1, 'a', 'b', 2, 3]
print(f"6. Created combo: {combo}")

combo = combo + snames
print(f"7. combo after adding snames: {combo}")

snames.append(combo)
print(f"8. snames after appending combo: {snames}")

snames = [20, 30, 40, "WORK"]
print(f"   (Reset snames for extend demonstration: {snames})")
snames.extend(combo)
print(f"9. snames after extending with combo: {snames}")

1. Initial snames: []
2. snames after appending 20: [20]
3. snames after extending with [30]: [20, 30]
4. snames after appending 40: [20, 30, 40]
5. snames after extending with ["WORK"]: [20, 30, 40, 'WORK']
6. Created combo: [1, 'a', 'b', 2, 3]
7. combo after adding snames: [1, 'a', 'b', 2, 3, 20, 30, 40, 'WORK']
8. snames after appending combo: [20, 30, 40, 'WORK', [1, 'a', 'b', 2, 3, 20, 30, 40, 'WORK']]
   (Reset snames for extend demonstration: [20, 30, 40, 'WORK'])
9. snames after extending with combo: [20, 30, 40, 'WORK', 1, 'a', 'b', 2, 3, 20, 30, 40, 'WORK']

Q11 . Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1

In [ ]:
l1 = [1,2]
l2 = [1,2,3,4,5,6,7]
l2.insert(3,l1)
l2

[1, 2, 3, [1, 2], 4, 5, 6, 7]

Q12 . Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.

From the collection delete the record for “Nisha”

Find the location of 20.50

In [ ]:
collection = [1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10]
print(f"Original collection: {collection}")

modified_collection = []
for item in collection:
    if isinstance(item, (int, float)):
        modified_collection.append(item * 5)
    else:
        modified_collection.append(item)
print(f"Collection after multiplying numbers by 5: {modified_collection}")

try:
    modified_collection.remove('Nisha')
    print(f"Collection after deleting 'Nisha': {modified_collection}")
except ValueError:
    print("'Nisha' not found in the collection.")


search_value = 20.50 * 5
try:
    location_of_value = modified_collection.index(search_value)
    print(f"Location of {search_value} (original 20.50 * 5) is at index: {location_of_value}")
except ValueError:
    print(f"'{search_value}' not found in the modified collection.")

Original collection: [1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.5, 90.1]
Collection after multiplying numbers by 5: [5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]
Collection after deleting 'Nisha': [5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]
Location of 102.5 (original 20.50 * 5) is at index: 5

# Day-4

Q13.Create a comprehensive list for square upto 10

In [ ]:
squares = [i**2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q14.Create the comprehensive list to find number divisible by 13 till 200

In [ ]:
cl = [i for i in range(1,201) if i % 13 == 0]
cl

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

Q15.Create the list which is divisible by 4 from 300 to 400

In [ ]:
cl1 = [i for i in range(300,400) if i%4==0]
cl1

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396]

Q16.Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]

Then generate a new list based on all combination of x and y.

For example: if x = 1 and y =2 then x_list = [0] and y_list = [0,1]

And output will be [[0,0],[0,1]]

If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

In [ ]:
import sys
while True:
    try:
        x = int(input("Enter value for x (>= 0): "))
        y = int(input("Enter value for y (>= 0): "))
        if x < 0 or y < 0:
            raise ValueError
        break
    except ValueError v:
        print("Please enter valid non-negative integers.",v,sys.exc_info())

result = [[i, j] for i in range(x) for j in range(y)]
print(result)

Enter value for x (>= 0): 2
Enter value for y (>= 0): 4
[[0, 0], [0, 1], [0, 2], [0, 3], [1, 0], [1, 1], [1, 2], [1, 3]]

Q17. What is the difference between add and update methods in set?

In [ ]:
s1 = {'Shrii','kunal',10,20}
s2 = {11,20.2,'Hello','aish',200}

In [ ]:
s1.add('Sejal')

In [ ]:
s1

{10, 20, 'Sejal', 'Shrii', 'kunal'}

In [ ]:
s1.update(s2)
s1

{10, 11, 20, 20.2, 200, 'Hello', 'Sejal', 'Shrii', 'aish', 'kunal'}

Q18.What is the difference between append and extend methods in list?

In [ ]:
a = [1, 2, 3]
a.append([4, 5])
print(a)

[1, 2, 3, [4, 5]]

In [ ]:
a = [1, 2, 3]
a.extend([4, 5])
print(a)

[1, 2, 3, 4, 5]

Q19.What is the difference between pop and remove methods?

In [ ]:
a = [10, 20, 30, 40]
x = a.pop()
print(x)
print(a)

y = a.pop(1)
print(y)
print(a)

40
[10, 20, 30]
20
[10, 30]

In [ ]:
a = [10, 20, 30, 20]
a.remove(20)
print(a)

[10, 30, 20]

Q20 What is the difference between discard, pop, remove methods?

In [ ]:
s = {1, 2, 3}
s.discard(4)   # no error
print(s)
# discard is a set method and removes element by value

{1, 2, 3}

In [ ]:
lst = [10, 20, 30]
x = lst.pop()
print(x)

30

In [ ]:
s = {1, 2, 3}
s.pop()

1

In [ ]:
lst = [10, 20, 30]
lst.remove(20)
lst

[10, 30]

Q21.How to create empty set?

In [ ]:
s = {}
s

{}

Q22. Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [ ]:
print(s1.union(s2))
# or
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
print(s1.intersection(s2))
# or
print(s1 & s2)

{4, 5}
{4, 5}

In [ ]:
print(s1.difference(s2))
# or
print(s1 - s2)

{1, 2, 3}
{1, 2, 3}

In [ ]:
print(s2.difference(s1))

{8, 6, 7}

In [ ]:
print(s1.symmetric_difference(s2))
# or
print(s1 ^ s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

Q23. Create l2 as a list and perform set operation on s1 with l1

In [ ]:
s1 = {1, 2, 3, 4, 5}
l2 = [4, 5, 6, 7]

In [ ]:
s2 = set(l2)
s2

{4, 5, 6, 7}

In [ ]:
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
print(s1.intersection(s2))

{4, 5}

In [ ]:
print(s1.difference(s2))

{1, 2, 3}

In [ ]:
print(s2.difference(s1))

{6, 7}

In [ ]:
print(s2.symmetric_difference(s1))

{1, 2, 3, 6, 7}

Q24 Ask user to enter the name and DOB and generate the password based on first name 4 characters and  @ddmm. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505

In [ ]:
name = input("Enter your name: ")
dob = input("Enter your DOB (dd-mm-yyyy): ")

first_part = name[:4].upper()

day_month = dob[:2] + dob[3:5]
# day_month = dob.split("-")[0] + dob.split("-")[1]

password = first_part + "@" + day_month

print("Generated Password:", password)

Enter your name: Shrinath
Enter your DOB (dd-mm-yyyy): 04-03-2004
Generated Password: SHRI@0403

Q25 Ask user to enter the name and DOB and generate the password based on first name 4 characters and  last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978

In [ ]:
name = input("Enter your name: ")
dob = input("Enter your DOB (dd-mm-yyyy): ")

first_part = name[:4].upper()

year = dob[-4:]

password = first_part + "@" + year

print("Generated Password:", password)

Enter your name: Shrinath
Enter your DOB (dd-mm-yyyy): 04-03-2004
Generated Password: SHRI@2004

Q26 Create the format mentioned here.

*

* *

* * *

* * * *

In [ ]:
n = int(input("Enter number of rows: "))

for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print(end="\n")

Enter number of rows: 4
*
* *
* * *
* * * *

Q27 Create the format as mentioned below:

****

***

**

*

In [ ]:
n = int(input("Enter number of rows: "))

for i in range(n, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

Enter number of rows: 4
****
***
**
*

Q28 Str_val = “ABCD” then create the format as mentioned below:

A

A B

A B C

A B C D

In [ ]:
str_val = input("Enter a String: ")

for i in range(0, len(str_val)+1):
    for j in range(i):
        print(str_val[j], end=" ")
    print()

Enter a String: ABCD

A
A B
A B C
A B C D

Q29. Create the format mentioned below:

A

BB

CCC

DDDD

In [ ]:
n = int(input("Enter How many rows: "))

for i in range(1, n + 1):
    char = chr(64 + i)
    print(char * i)

Enter How many rows: 4
A
BB
CCC
DDDD

Q30.Create the format mentioned below:

1

22

333

4444

In [ ]:
n = int(input("Enter number of rows: "))

for i in range(1, n + 1):
    print(str(i) * i)

Enter number of rows: 4
1
22
333
4444

Q31. Val = “ABCD” based on the Val, create the format mentioned below

D

DC

DCB

DCBA

In [ ]:
val = "ABCD"

for i in range(len(val)-1, -1, -1):
    print(val[i:])

D
CD
BCD
ABCD

Q32. Ask user to enter the string. If string is UPGRAD then output must be

D

DA

DAR

DARG

DARGP

DARGPU

In [ ]:
s = input("Enter the string: ")

result = ""
for i in range(len(s) - 1, -1, -1):
    result += s[i]
    print(result)

Enter the string: UPGRADE
E
ED
EDA
EDAR
EDARG
EDARGP
EDARGPU

Q33.Create a list of odd numbers from 1 to 10

Using for loop

Using comprehensive list

In [ ]:
l1 = []
for i in range(1, 11):
    if i % 2 != 0:
        l1.append(i)
print(l1)

[1, 3, 5, 7, 9]

In [ ]:
l1 = [i for i in range(1, 11) if i % 2 != 0]
print(l1)

[1, 3, 5, 7, 9]

Q34 Create even number list using for loop from 200 to 250

In [ ]:
l2 = []
for i in range(200, 251):
    if i % 2 == 0:
        l2.append(i)
print(l2)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

Q35. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]

Multiply each and every element by 2 and display the answer

In [ ]:
List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
for item in List2:
    try:
        result = item * 2
        print(f"{item} * 2 = {result}")
    except TypeError:
        print(f"{item} cannot be multiplied by 2")

2 * 2 = 4
70 * 2 = 140
work * 2 = workwork
para * 2 = parapara
2.5 * 2 = 5.0
[1, 2, 3] * 2 = [1, 2, 3, 1, 2, 3]
(1, 2) * 2 = (1, 2, 1, 2)
{1, 2} cannot be multiplied by 2
{1: 'a', 2: 'b'} cannot be multiplied by 2
3 * 2 = 6
10 * 2 = 20
302.5 * 2 = 605.0

# Day-5

Q36 . List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]

Multiply each and every element from list2 by 2 and store the answer in list3

In [ ]:
List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
List3 = []
for item in List2:
    try:
        result = item * 2
        List3.append(result)
        print(f"{item} ---> {List3}")
        # print(f"{item} * 2 = {result}")
    except TypeError:
        print(f"{item} cannot be multiplied by 2")

2 ---> [4]
70 ---> [4, 140]
work ---> [4, 140, 'workwork']
para ---> [4, 140, 'workwork', 'parapara']
2.5 ---> [4, 140, 'workwork', 'parapara', 5.0]
[1, 2, 3] ---> [4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3]]
(1, 2) ---> [4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2)]
{1, 2} cannot be multiplied by 2
{1: 'a', 2: 'b'} cannot be multiplied by 2
3 ---> [4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), 6]
10 ---> [4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), 6, 20]
302.5 ---> [4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), 6, 20, 605.0]

Q37. Create a function to accept marks from user utilize exception concept to
validate proper marks.

In [ ]:
import sys
def accept_marks():
    try:
        marks = float(input("Enter marks (0–100): "))

        if marks < 0 or marks > 100:
            raise Exception("Marks must be between 0 and 100")

        print("Valid marks entered:", marks)

    except ValueError as e:
        print("Invalid input:", e)
    except Exception:
        print(sys.exc_info())

In [ ]:
accept_marks()

Enter marks (0–100): 101
(<class 'Exception'>, Exception('Marks must be between 0 and 100'), <traceback object at 0x79d7dbea3f80>)

Q38 . Create a function to validate user first name/last name. User first name/last name should contain only characters. No special characters, numbers, space in name

In [ ]:
import sys
def validate_name(name):
    try:
        if not name.isalpha():
            raise ValueError("Name should contain only alphabets")

        print("Valid name:", name)

    except ValueError as e:
        print("Invalid name:", e)
        print(sys.exc_info())

name = input("Enter your name: ")
validate_name(name)

Enter your name: 123
Invalid name: Name should contain only alphabets
(<class 'ValueError'>, ValueError('Name should contain only alphabets'), <traceback object at 0x7a00f5d62fc0>)

Q39. Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space.

In [ ]:
def validate_mobile():
    try:
        mobile = input("Enter mobile number: ")

        if not mobile.isdigit():
            raise ValueError("Mobile number should contain only digits")

        if len(mobile) != 10:
            raise ValueError("Mobile number must contain exactly 10 digits")

        print("Valid mobile number:", mobile)

    except ValueError as e:
        print("Invalid mobile number:", e)

validate_mobile()

Enter mobile number: 1223
Invalid mobile number: Mobile number must contain exactly 10 digits

Q40. Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB. And password must be First name 4 characters and year of birth.

In [ ]:
def generate_password():
    try:
        name = input("Enter First Name: ")
        dob = input("Enter DOB (DD-MM-YYYY): ")

        if not name.isalpha():
            raise ValueError("Name should contain only alphabets")

        year = dob.split("-")[2]

        if not year.isdigit() or len(year) != 4:
            raise ValueError("Invalid DOB format")

        password = name[:4] + year
        print("Generated Password:", password)

    except Exception as e:
        print("Error:", e)

generate_password()

Enter First Name: Shrinath
Enter DOB (DD-MM-YYYY): 04-03-2004
Generated Password: Shri2004

Q41. Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.
For example:

{}

{1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}



{1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},

2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}

In [ ]:
customers = {}

while True:
    name = input("Enter Name: ")
    dob = input("Enter DOB (DD-MM-YYYY): ")
    mobile = input("Enter Mobile Number: ")

    customer_no = len(customers) + 1

    customers[customer_no] = {
        "name": name,
        "DOB": dob,
        "mobile": mobile
    }

    print("Customer added successfully!")
    print(customers)

    choice = input("Do you want to add another customer? (yes/no): ")
    if choice.lower() != "yes":
        break

Enter Name: Shrinath
Enter DOB (DD-MM-YYYY): 04-03-2004
Enter Mobile Number: 1234567890
Customer added successfully!
{1: {'name': 'Shrinath', 'DOB': '04-03-2004', 'mobile': '1234567890'}}
Do you want to add another customer? (yes/no): yes
Enter Name: kunal
Enter DOB (DD-MM-YYYY): 02-05-2003
Enter Mobile Number: 1234567890
Customer added successfully!
{1: {'name': 'Shrinath', 'DOB': '04-03-2004', 'mobile': '1234567890'}, 2: {'name': 'kunal', 'DOB': '02-05-2003', 'mobile': '1234567890'}}
Do you want to add another customer? (yes/no): No

Q42. Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log

In [ ]:
customers = {}

while True:
    name = input("Enter Name: ")
    dob = input("Enter DOB (DD-MM-YYYY): ")
    mobile = input("Enter Mobile Number: ")

    customer_no = len(customers) + 1

    customers[customer_no] = {
        "name": name,
        "DOB": dob,
        "mobile": mobile
    }

    print("Customer added successfully!")

    choice = input("Do you want to add another customer? (yes/no): ")
    if choice.lower() != "yes":
        break



with open("cust_info.txt", "w") as file:
    file.write(str(customers))

print("Customer data saved successfully in cust_info.txt")

Enter Name: Shrinath Petkar
Enter DOB (DD-MM-YYYY): 04-03-2004
Enter Mobile Number: 7755959822
Customer added successfully!
Do you want to add another customer? (yes/no): yes
Enter Name: Kunal
Enter DOB (DD-MM-YYYY): 02-06-2004
Enter Mobile Number: 8975567272
Customer added successfully!
Do you want to add another customer? (yes/no): no
Customer data saved successfully in cust_info.txt

Q43. Based on the above example read the file cust_info.txt . check if dictionary any information is available in the file. If there is information then read the dictionary store into one variable and then append new information of customer if added.

In [ ]:
import os
import ast

file_name = "cust_info.txt"

if os.path.exists(file_name) and os.path.getsize(file_name) > 0:
    with open(file_name, "r") as file:
        content = file.read()
        customers = ast.literal_eval(content)
else:
    customers = {}

while True:
    name = input("Enter Name: ")
    dob = input("Enter DOB (DD-MM-YYYY): ")
    mobile = input("Enter Mobile Number: ")

    customer_no = len(customers) + 1

    customers[customer_no] = {
        "name": name,
        "DOB": dob,
        "mobile": mobile
    }

    choice = input("Add another? (yes/no): ")
    if choice.lower() != "yes":
        break

with open(file_name, "w") as file:
    file.write(str(customers))

print("Data updated successfully.")

Enter Name: sakshi
Enter DOB (DD-MM-YYYY): 11-03-2003
Enter Mobile Number: 1236547890
Add another? (yes/no): no
Data updated successfully.

Q44. Create a table  cust_info as sr_no, name, DOB, mobile. Ask user to enter the information from python code. Validate all fields and after validation insert records in the table.

SQL version

In [ ]:
import sqlite3
import re

conn = sqlite3.connect("customer.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS cust_info (
    sr_no INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    DOB TEXT NOT NULL,
    mobile TEXT NOT NULL
)
""")

while True:
    name = input("Enter Name: ").strip()
    if not name.replace(" ", "").isalpha():
        print("Invalid name. Only alphabets allowed.")
        continue

    dob = input("Enter DOB (DD-MM-YYYY): ").strip()
    if not re.match(r"\d{2}-\d{2}-\d{4}$", dob):
        print("Invalid DOB format.")
        continue

    mobile = input("Enter Mobile Number: ").strip()
    if not (mobile.isdigit() and len(mobile) == 10):
        print("Invalid mobile number.")
        continue

    cursor.execute(
        "INSERT INTO cust_info (name, DOB, mobile) VALUES (?, ?, ?)",
        (name, dob, mobile)
    )
    conn.commit()

    print("Record inserted successfully!")

    choice = input("Add another record? (yes/no): ")
    if choice.lower() != "yes":
        break


print("\n----- Customer Records -----")
cursor.execute("SELECT * FROM cust_info")
records = cursor.fetchall()

for row in records:
    print(f"SR_NO: {row[0]} | Name: {row[1]} | DOB: {row[2]} | Mobile: {row[3]}")

conn.close()

Enter Name: Shrinath
Enter DOB (DD-MM-YYYY): 04-03-2004
Enter Mobile Number: 7755959822
Record inserted successfully!
Add another record? (yes/no): yes
Enter Name: kunal kakade
Enter DOB (DD-MM-YYYY): 02-06-2003
Enter Mobile Number: 8975567272
Record inserted successfully!
Add another record? (yes/no): no

----- Customer Records -----
SR_NO: 1 | Name: Shrinath | DOB: 04-03-2004 | Mobile: 7755959822
SR_NO: 2 | Name: kunal kakade | DOB: 02-06-2003 | Mobile: 8975567272

Q45. Dict1= {“Key”: {“subkey”:20} ,  “k2”:{“sub2” : 5}, “k3” : {“sub4” :16},  “k4” : {“sub4” : 6}}

Sort elements based on values

Output must be {,  “k2”:{“sub2” : 5}, “k4” : {“sub4” : 6},  “k3” : {“sub4” : 16}, “Key”:{“subkey”:20}}

In [ ]:
Dict1 = {
    "Key": {"subkey": 20},
    "k2": {"sub2": 5},
    "k3": {"sub4": 16},
    "k4": {"sub4": 6}
}

sorted_dict = dict(
    sorted(Dict1.items(), key=lambda item: list(item[1].values())[0])
)

print(sorted_dict)

{'k2': {'sub2': 5}, 'k4': {'sub4': 6}, 'k3': {'sub4': 16}, 'Key': {'subkey': 20}}

Q46. Create a function to calculate age till now.

In [ ]:
from datetime import date

def calculate_age(dob):
    today = date.today()
    return today.year - dob.year - ((today.month, today.day) < (dob.month, dob.day))

dob = date(2000, 5, 15)
print(calculate_age(dob))

25

In [ ]:
from datetime import date

def calculate_age(dob):
    today = date.today()
    return today.year - dob.year - ((today.month, today.day) < (dob.month, dob.day))

while True:
    y = input("Enter birth year: ").strip()
    m = input("Enter birth month: ").strip()
    d = input("Enter birth day: ").strip()

    if not (y.isdigit() and m.isdigit() and d.isdigit()):
        print("Enter only numeric values\n")
        continue

    y, m, d = int(y), int(m), int(d)
    today = date.today()

    if y < 1900 or y > today.year:
        print("Invalid year\n")
        continue

    if m < 1 or m > 12:
        print("Invalid month\n")
        continue

    try:
        dob = date(y, m, d)
        if dob > today:
            print("Date of birth cannot be in future\n")
            continue
        print("Age:", calculate_age(dob))
        break
    except ValueError:
        print("Invalid day for the given month\n")

Enter birth year: 2000
Enter birth month: 12
Enter birth day: 95
Invalid day for the given month

Enter birth year: 2003
Enter birth month: 01
Enter birth day: 06
Age: 23

Q47. Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age.

In [ ]:
from datetime import date

def calculate_age(dob):
    today = date.today()
    return today.year - dob.year - ((today.month, today.day) < (dob.month, dob.day))

def check_eligibility(dob, eligibility_age):
    age = calculate_age(dob)
    return age >= eligibility_age, age

while True:
    try:
        y = input("Enter birth year: ").strip()
        m = input("Enter birth month: ").strip()
        d = input("Enter birth day: ").strip()
        e_age = input("Enter eligibility age: ").strip()

        if not (y.isdigit() and m.isdigit() and d.isdigit() and e_age.isdigit()):
            print("Enter only numeric values\n")
            continue

        y, m, d, e_age = int(y), int(m), int(d), int(e_age)
        today = date.today()

        if y < 1900 or y > today.year:
            print("Invalid year\n")
            continue

        if m < 1 or m > 12:
            print("Invalid month\n")
            continue

        if e_age <= 0 or e_age > 120:
            print("Invalid eligibility age\n")
            continue

        try:
            dob = date(y, m, d)
        except ValueError:
            print("Invalid day for given month\n")
            continue

        if dob > today:
            print("DOB cannot be in future\n")
            continue

        eligible, age = check_eligibility(dob, e_age)

        print("Customer Age:", age)
        if eligible:
            print("Customer is ELIGIBLE")
        else:
            print("Customer is NOT ELIGIBLE")

        break

    except Exception:
        print("Unexpected error. Try again.\n")

Enter birth year: 1955
Enter birth month: 06
Enter birth day: 03
Enter eligibility age: 20
Customer Age: 70
Customer is ELIGIBLE

Q48 .Create a function to check if string is palindrome or not ? For example, if input is NITIN then reverse of the string is same then it is palindrome. If input is ANIL then reverse is LINA which is not same then it is not palindrome.

In [2]:
def is_palindrome(s):
    try:
        if not isinstance(s, str):
            raise ValueError("Input must be a string")
        s = s.strip()
        if s == "":
            raise ValueError("Empty string not allowed")
        s = s.upper()
        return s == s[::-1]
    except Exception as e:
        print("Error:", e)
        return None

try:
    word = input("Enter a string: ")
    result = is_palindrome(word)
    if result is True:
        print("Palindrome")
    elif result is False:
        print("Not Palindrome")
except Exception as e:
    print("Error:", e)

Enter a string: NITIN
Palindrome

Q49. Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 …..  upto 100

In [3]:
def fibonacci_upto_100():
    try:
        a, b = 0, 1
        while a <= 100:
            print(a, end=" ")
            a, b = b, a + b
    except Exception as e:
        print("Error:", e)

try:
    fibonacci_upto_100()
except Exception as e:
    print("Error:", e)

0 1 1 2 3 5 8 13 21 34 55 89

Q50. Write a code to generate factorial of the number  For example: factorial of 5 = 5! = 5*4*3*2*1

In [4]:
def factorial(n):
    try:
        if not isinstance(n, int):
            raise ValueError("Input must be an integer")
        if n < 0:
            raise ValueError("Factorial not defined for negative numbers")
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result
    except Exception as e:
        print("Error:", e)
        return None

try:
    num = int(input("Enter a number: "))
    fact = factorial(num)
    if fact is not None:
        print("Factorial =", fact)
except Exception as e:
    print("Error:", e)

Enter a number: 5
Factorial = 120

Q51. Write a program to find largest number in the list.

In [6]:
def find_largest(lst):
    try:
        if not isinstance(lst, list):
            raise ValueError("Input must be a list")
        if len(lst) == 0:
            raise ValueError("List cannot be empty")

        largest = lst[0]
        for num in lst:
            if num > largest:
                largest = num
        return largest

    except Exception as e:
        print("Error:", e)
        return None


try:
    user_input = input("Enter numbers separated by space: ")
    numbers = [float(x) for x in user_input.split()]

    result = find_largest(numbers)

    if result is not None:
        if result.is_integer():
            result = int(result)
        print("Largest number =", result)

except ValueError:
    print("Please enter valid numeric values only.")
except Exception as e:
    print("Error:", e)

Enter numbers separated by space: 10 20 3 1 89 100 1 2 3 4
Largest number = 100

Q52. Write a program to check frequency of each element in the list.

In [7]:
def frequency_of_elements(lst):
    try:
        if not isinstance(lst, list):
            raise ValueError("Input must be a list")
        if len(lst) == 0:
            raise ValueError("List cannot be empty")

        freq = {}
        for item in lst:
            freq[item] = freq.get(item, 0) + 1
        return freq

    except Exception as e:
        print("Error:", e)
        return None


try:
    user_input = input("Enter elements separated by space: ")
    elements = user_input.split()

    result = frequency_of_elements(elements)

    if result is not None:
        for key, value in result.items():
            print(f"{key} -> {value}")

except Exception as e:
    print("Error:", e)

Enter elements separated by space: 1 1 1 1 1 3 3 4 4 5 5
1 -> 5
3 -> 2
4 -> 2
5 -> 2

Q53 . There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.

In [8]:
def find_common_elements(l1, l2):
    try:
        if not isinstance(l1, list) or not isinstance(l2, list):
            raise ValueError("Both inputs must be lists")

        common = []
        for item in l1:
            if item in l2 and item not in common:
                common.append(item)

        return common

    except Exception as e:
        print("Error:", e)
        return None


try:
    l1 = [1, 2, 3, 4, 5]
    l2 = [3, 2, 8, 7, 9]

    result = find_common_elements(l1, l2)

    if result is not None:
        print("Common elements:", result)

except Exception as e:
    print("Error:", e)

Common elements: [2, 3]

Q54 . Create 3 tables  in mysql having the columns as mentioned

1) user : uid, mobile, passkey, date

2) Product : pid, pname

3) Order : oid, uid, pid



user having  attribute uid, mobile

      method user sign up

sign in

view_products

view_orders

place_order

Based on the OOPs concept create classes, methods, attributes and insert information

In [10]:
import sqlite3
from datetime import datetime

conn = sqlite3.connect("shop.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS user (
    uid INTEGER PRIMARY KEY AUTOINCREMENT,
    mobile TEXT UNIQUE,
    passkey TEXT,
    date TEXT
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS product (
    pid INTEGER PRIMARY KEY AUTOINCREMENT,
    pname TEXT
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS orders (
    oid INTEGER PRIMARY KEY AUTOINCREMENT,
    uid INTEGER,
    pid INTEGER
)
""")

conn.commit()


class User:
    def __init__(self):
        self.uid = None

    def sign_up(self):
        try:
            mobile = input("Enter mobile: ")
            password = input("Enter password: ")

            if not mobile.isdigit() or len(mobile) != 10:
                raise ValueError("Invalid mobile number")

            cursor.execute(
                "INSERT INTO user (mobile, passkey, date) VALUES (?, ?, ?)",
                (mobile, password, datetime.now())
            )
            conn.commit()
            print("Signup successful")

        except Exception as e:
            print("Error:", e)

    def sign_in(self):
        try:
            mobile = input("Enter mobile: ")
            password = input("Enter password: ")

            cursor.execute(
                "SELECT uid FROM user WHERE mobile=? AND passkey=?",
                (mobile, password)
            )
            result = cursor.fetchone()

            if result:
                self.uid = result[0]
                print("Login successful")
            else:
                print("Invalid credentials")

        except Exception as e:
            print("Error:", e)

    def view_products(self):
        try:
            cursor.execute("SELECT * FROM product")
            products = cursor.fetchall()
            if products:
                for p in products:
                    print(p)
            else:
                print("No products available")
        except Exception as e:
            print("Error:", e)

    def place_order(self):
        try:
            if not self.uid:
                print("Please login first")
                return

            pid = int(input("Enter product id: "))

            cursor.execute("SELECT * FROM product WHERE pid=?", (pid,))
            if cursor.fetchone():
                cursor.execute(
                    "INSERT INTO orders (uid, pid) VALUES (?, ?)",
                    (self.uid, pid)
                )
                conn.commit()
                print("Order placed")
            else:
                print("Invalid product id")

        except Exception as e:
            print("Error:", e)

    def view_orders(self):
        try:
            if not self.uid:
                print("Please login first")
                return

            cursor.execute("""
                SELECT orders.oid, product.pname
                FROM orders
                JOIN product ON orders.pid = product.pid
                WHERE orders.uid=?
            """, (self.uid,))

            orders = cursor.fetchall()
            if orders:
                for o in orders:
                    print(o)
            else:
                print("No orders found")

        except Exception as e:
            print("Error:", e)


class Product:
    def add_product(self):
        try:
            name = input("Enter product name: ")
            if name.strip() == "":
                raise ValueError("Product name cannot be empty")

            cursor.execute("INSERT INTO product (pname) VALUES (?)", (name,))
            conn.commit()
            print("Product added")

        except Exception as e:
            print("Error:", e)


user = User()
product = Product()

while True:
    print("\n1.Sign Up")
    print("2.Sign In")
    print("3.Add Product")
    print("4.View Products")
    print("5.Place Order")
    print("6.View Orders")
    print("7.Exit")

    choice = input("Enter choice: ")

    if choice == "1":
        user.sign_up()
    elif choice == "2":
        user.sign_in()
    elif choice == "3":
        product.add_product()
    elif choice == "4":
        user.view_products()
    elif choice == "5":
        user.place_order()
    elif choice == "6":
        user.view_orders()
    elif choice == "7":
        print("Exiting...")
        break
    else:
        print("Invalid choice")

conn.close()

1.Sign Up
2.Sign In
3.Add Product
4.View Products
5.Place Order
6.View Orders
7.Exit
Enter choice: 1
Enter mobile: 7755959822
Enter password: 1234

/tmp/ipython-input-2337204833.py:46: DeprecationWarning: The default datetime adapter is deprecated as of Python 3.12; see the sqlite3 documentation for suggested replacement recipes
  cursor.execute(

Signup successful

1.Sign Up
2.Sign In
3.Add Product
4.View Products
5.Place Order
6.View Orders
7.Exit
Enter choice: 2
Enter mobile: 7755959822
Enter password: 1234
Login successful

1.Sign Up
2.Sign In
3.Add Product
4.View Products
5.Place Order
6.View Orders
7.Exit
Enter choice: 3
Enter product name: pen
Product added

1.Sign Up
2.Sign In
3.Add Product
4.View Products
5.Place Order
6.View Orders
7.Exit
Enter choice: 4
(1, 'Laptop')
(2, 'Mobile')
(3, 'pen')

1.Sign Up
2.Sign In
3.Add Product
4.View Products
5.Place Order
6.View Orders
7.Exit
Enter choice: 5
Enter product id: 3
Order placed

1.Sign Up
2.Sign In
3.Add Product
4.View Products
5.Place Order
6.View Orders
7.Exit
Enter choice: 6
(2, 'pen')

1.Sign Up
2.Sign In
3.Add Product
4.View Products
5.Place Order
6.View Orders
7.Exit
Enter choice: 7
Exiting...