Comprehensive List

1. Write a list comprehension to generate squares of numbers from 1 to 10.

In [1]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Create a list of even numbers between 1 and 50 using list
comprehension.

In [2]:
even_numbers = [x for x in range(1, 51) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

3. Convert all strings in a list to uppercase using list comprehension.

In [4]:
words = ["hello", "world", "shrinath"]

upper_words = [word.upper() for word in words]

print(upper_words)

['HELLO', 'WORLD', 'SHRINATH']

4. Given a list of integers, create a new list that contains only the positive
numbers.

In [5]:
numbers = [10, -5, 0, 20, -8, 15]

positive_numbers = [num for num in numbers if num > 0]

print(positive_numbers)

[10, 20, 15]

5. Create a list of tuples (num, num^2) for numbers 1 to 5.

In [6]:
result = [(num, num**2) for num in range(1, 6)]

print(result)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

6. Extract all vowels from a given string using list comprehension

In [7]:
text = "Hello World"

vowels = [ch for ch in text if ch.lower() in "aeiou"]

print(vowels)

['e', 'o', 'o']

7. Flatten a 2D list using list comprehension.

In [8]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flat_list = [num for row in matrix for num in row]

print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

8. Replace all negative numbers in a list with 0 using list comprehension.

In [9]:
numbers = [5, -3, 8, -1, 0, -7]

updated_list = [num if num >= 0 else 0 for num in numbers]

print(updated_list)

[5, 0, 8, 0, 0, 0]

9. Given a list of words, create a list of lengths of each word.

In [11]:
words = ["shrinath", "kunal", "hello world", "w"]

lengths = [len(word) for word in words]

print(lengths)

[8, 5, 11, 1]

10. Filter out words that start with the letter 'A' or 'a'.

In [14]:
words = ["Apple", "banana", "Avocado", "grape", "apricot"]

filtered_words = [word for word in words if word.lower().startswith('a')]

print(filtered_words)

['Apple', 'Avocado', 'apricot']

11. From a list of numbers, generate a list of “even” or “odd” strings using
list comprehension.

In [15]:
numbers = [1, 2, 3, 4, 5, 6]

result = ["even" if num % 2 == 0 else "odd" for num in numbers]

print(result)

['odd', 'even', 'odd', 'even', 'odd', 'even']

12. Create a list of numbers divisible by both 3 and 5 in range 1–100.

In [16]:
numbers = [num for num in range(1, 101) if num % 3 == 0 and num % 5 == 0]

print(numbers)

[15, 30, 45, 60, 75, 90]

13. Write a nested list comprehension to generate a multiplication table
for 1–5.

In [17]:
table = [[i * j for j in range(1, 6)] for i in range(1, 6)]

print(table)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

14. Convert a dictionary’s keys into a list using list comprehension.

In [18]:
my_dict = {"a": 1, "b": 2, "c": 3}

keys_list = [key for key in my_dict]

print(keys_list)

['a', 'b', 'c']

15. Extract numeric digits from a string using list comprehension.

In [19]:
text = "abc123xyz45"

digits = [ch for ch in text if ch.isdigit()]

print(digits)

['1', '2', '3', '4', '5']

16. Use list comprehension to remove all spaces from a string.

In [20]:
text = "Hello World Python"

no_spaces = "".join([ch for ch in text if ch != " "])

print(no_spaces)

HelloWorldPython

17. Create a list of characters that appear more than once in a string.

In [21]:
text = "programming"

result = [ch for ch in text if text.count(ch) > 1]

print(result)

['r', 'g', 'r', 'm', 'm', 'g']


18. From a list of sentences, generate a list of all words (split using list
comprehension).

In [23]:
sentences = ["Shrinath Petkar", "Python is interpreted language", "List comprehension is very important"]

words = [word for sentence in sentences for word in sentence.split()]

print(words)

['Shrinath', 'Petkar', 'Python', 'is', 'interpreted', 'language', 'List', 'comprehension', 'is', 'very', 'important']

19. Create a list of unique elements from a list using list comprehension +
condition.

In [25]:
numbers = [1, 2, 2, 3, 4, 4, 5]

unique_list = []
[unique_list.append(num) for num in numbers if num not in unique_list]

print(unique_list)

[1, 2, 3, 4, 5]

20. Generate all pairs (x, y) where x is from list A and y is from list B
(cartesian product).

In [26]:
A = [1, 2, 3]
B = ['a', 'b']

pairs = [(x, y) for x in A for y in B]

print(pairs)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

Lambda functions

1. Write a lambda to add two numbers.

In [27]:
add = lambda a, b: a + b

print(add(5, 3))

8

2. Create a lambda to check if a number is even.

In [28]:
is_even = lambda num: num % 2 == 0

print(is_even(4))
print(is_even(7))

True
False

3. Write a lambda to get the last character of a string.

In [29]:
last_char = lambda s: s[-1]

print(last_char("Python"))

n

4. Use lambda with map() to square every number in a list.

In [30]:
numbers = [1, 2, 3, 4, 5]

squared = list(map(lambda x: x**2, numbers))

print(squared)

[1, 4, 9, 16, 25]

5. Use lambda with filter() to get only odd numbers from a list.

In [31]:
numbers = [1, 2, 3, 4, 5, 6]

odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))

print(odd_numbers)

[1, 3, 5]

6. Use sorted() + lambda to sort a list of tuples by second value.

In [32]:
data = [(1, 3), (2, 1), (4, 2)]

sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)

[(2, 1), (4, 2), (1, 3)]

7. Create a lambda to check if a string is a palindrome.

In [34]:
is_palindrome = lambda s: s == s[::-1]

print(is_palindrome("madam"))
print(is_palindrome("nitin"))
print(is_palindrome("hello"))

True
True
False

8. Use lambda to find maximum of three numbers.

In [35]:
max_of_three = lambda a, b, c: a if a > b and a > c else (b if b > c else c)

print(max_of_three(10, 25, 15))

25

9. Write a lambda to reverse a string.

In [36]:
reverse = lambda s: s[::-1]

print(reverse("Python"))

nohtyP

10. Use lambda with map() to convert a list of strings to integers.

In [37]:
strings = ["10", "20", "30", "40"]

numbers = list(map(lambda x: int(x), strings))

print(numbers)

[10, 20, 30, 40]

11. Use lambda with filter() to remove empty strings from a list.

In [39]:
words = ["shrinath", "", "kunal", "", "sakshi"]

filtered_words = list(filter(lambda x: x != "", words))

print(filtered_words)

['shrinath', 'kunal', 'sakshi']

12. Use lambda to compute factorial using reduce() (yeah, that one-liner
madness).

In [40]:
from functools import reduce

factorial = lambda n: reduce(lambda x, y: x * y, range(1, n + 1))

print(factorial(5))

120

13. Write a lambda that returns the larger of two numbers.

In [41]:
larger = lambda a, b: a if a > b else b

print(larger(10, 25))

25

14. Use lambda to check if number is divisible by 5.

In [42]:
is_divisible_by_5 = lambda x: x % 5 == 0

print(is_divisible_by_5(10))
print(is_divisible_by_5(12))

True
False

15. Use lambda + map() to add 10 to each element of a list.

In [43]:
numbers = [5, 10, 15, 20]

updated = list(map(lambda x: x + 10, numbers))

print(updated)

[15, 20, 25, 30]

16. Use lambda to sort a list of dictionaries by a key (like "age").

In [44]:
people = [
    {"name": "Amit", "age": 25},
    {"name": "Rahul", "age": 20},
    {"name": "Sneha", "age": 30}
]

sorted_people = sorted(people, key=lambda x: x["age"])

print(sorted_people)

[{'name': 'Rahul', 'age': 20}, {'name': 'Amit', 'age': 25}, {'name': 'Sneha', 'age': 30}]

17. Write a lambda that returns True if a character is a vowel.

In [45]:
is_vowel = lambda ch: ch.lower() in "aeiou"

print(is_vowel("a"))
print(is_vowel("B"))

True
False

18. Use lambda + filter to extract words of length > 5 from a list.

In [46]:
words = ["apple", "banana", "grapes", "kiwi", "orange"]

long_words = list(filter(lambda x: len(x) > 5, words))

print(long_words)

['banana', 'grapes', 'orange']

19. Use lambda to calculate the area of a circle (πr²).

In [47]:
area = lambda r: 3.14 * r * r

print(area(5))

78.5

20. Write a lambda to remove duplicates from a list using filter + set.

In [48]:
numbers = [1, 2, 2, 3, 4, 4, 5]

seen = set()
unique = list(filter(lambda x: not (x in seen or seen.add(x)), numbers))

print(unique)

[1, 2, 3, 4, 5]

21. Use lambda with reduce() to find the product of all numbers in a list.

In [49]:
from functools import reduce

numbers = [1, 2, 3, 4]

product = reduce(lambda x, y: x * y, numbers)

print(product)

24

22. Write a lambda that returns absolute value of a number.

In [50]:
absolute = lambda x: x if x >= 0 else -x

print(absolute(10))
print(absolute(-7))

10
7

23. Use lambda to sort a list of strings by their length.

In [51]:
words = ["apple", "banana", "kiwi", "grape", "orange"]

sorted_words = sorted(words, key=lambda x: len(x))

print(sorted_words)

['kiwi', 'apple', 'grape', 'banana', 'orange']

24. Use lambda to get only uppercase characters from a string.

In [52]:
text = "Hello World Python"

uppercase_chars = list(filter(lambda ch: ch.isupper(), text))

print(uppercase_chars)

['H', 'W', 'P']

25. Write a lambda that returns the square if number is even, cube if odd.

In [53]:
f = lambda x: x**2 if x % 2 == 0 else x**3

print(f(4))
print(f(3))

16
27

26. Use lambda with map to convert Celsius to Fahrenheit.

In [54]:
celsius = [0, 20, 37, 100]

fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))

print(fahrenheit)

[32.0, 68.0, 98.6, 212.0]

27. Write a lambda to check if two strings are anagrams.

In [55]:
are_anagrams = lambda s1, s2: sorted(s1.lower()) == sorted(s2.lower())

print(are_anagrams("listen", "silent"))
print(are_anagrams("hello", "world"))

True
False

28. Use lambda to extract only numeric values from a mixed list.

In [56]:
mixed = [1, "apple", 3.5, "banana", 2, "7", 8.0]

numbers = list(filter(lambda x: isinstance(x, (int, float)), mixed))

print(numbers)

[1, 3.5, 2, 8.0]

29. Use lambda inside any() to check if any list element is negative.

In [57]:
numbers = [3, 5, -2, 7, 0]

has_negative = any(map(lambda x: x < 0, numbers))

print(has_negative)

True

30. Use lambda to generate a function that multiplies any number by n

In [58]:
multiply_by = lambda n: (lambda x: x * n)

times3 = multiply_by(3)
times5 = multiply_by(5)

print(times3(10))
print(times5(4))

30
20